/********** FONTS **********/

@import url('https://fonts.googleapis.com/css?family=Gilda+Display|Lato:400,700&display=swap');

/*********** GENERAL **********/

*,
*::before,
*::after {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a {
	color: inherit;
	text-decoration: none;
}

h1 {
	font-size: 3.125rem;
	padding: 3.125rem 0;
}

h2 {
	font-size: 2.5rem;
}

h3 {
	font-family: 'Lato', sans-serif;
	font-size: 0.75rem;
	color: #d3ad89;
}

.top-info {
	font-family: 'Gilda Display', serif;
	text-align: center;
	padding: 0.625rem 0;
}

.top-info a {
	color: red;
}

header {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background-image: url(../img/header_bg.jpg);
	background-size: cover;
	font-family: 'Lato', sans-serif;
	color: white;
}

header nav {
	margin-bottom: 1.25rem;
	font-weight: bold;
}

header nav a:not(:last-child) {
	margin-right: 1.25rem;
}

header nav a.current-page {
	color: black;
}

footer {
	font-family: 'Lato', Helvetica, Arial, sans-serif;
	background-color: #191919;
	color: rgba(255, 255, 255, .4);
	text-align: center;
	font-size: 0.75rem;
	letter-spacing: 1px;
	padding: 3.125rem 0;
}

footer p {
	font-weight: 300;
}

footer span {
	font-weight: 700;
}

footer .copyright {
	margin-top: 0.625rem;
}

/********** INDEX **********/

.index .grid {
	width: 80%;
	margin: 3.125rem auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-column-gap: 1em;
	grid-row-gap: 1em;
	grid-template-areas: 
		" about edilizia riattazione"
		" about genio forestale";
}

.index .grid img {
	width: 100%;
}

.index .grid .about {
	grid-area: about;
	font-family: 'Gilda Display', serif;
	line-height: 1.5rem;
}

.index .grid .about h2 {
	margin-bottom: 1.2rem;
}

.index .grid .edilizia {
	grid-area: edilizia;
	background-image: url(../img/index_edilizia.jpg);
	background-size: cover;
}

.index .grid .riattazione {
	grid-area: riattazione;
	background-image: url(../img/index_riattazione.jpeg);
	background-size: cover;
}

.index .grid .genio {
	grid-area: genio;
	background-image: url(../img/index_genio.jpg);
	background-size: cover;
}

.index .grid .forestale {
	grid-area: forestale;
	background-image: url(../img/index_forestale.jpg);
	background-size: cover;
}

.index .banner {
	width: 100%;
}